
.navigation__list {
    list-style-type: none;
    border: 2px solid red;
    border-radius: 10px;
    width: auto;
    margin: 15px 100px;
    padding: 6px 10px;
    background-color: blanchedalmond;
}

.navigation__link {
    text-decoration: none;
    color: black;
}

.navigation__link:hover {
    color: rgb(162 53 90);
    
}

.navigation__link:focus {
    outline: 2px solid rgb(0, 0, 0);
}

.navigation__item {
    display: inline-block;
    padding: 10px;
    margin: auto;
}

