html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #26241321;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}


.blue {
    background-color: #bdd7e2;
}